
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * *

  SITE HEADER  /  NAVIGATION

 * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

$header-image-height:          80px             !default;
$header-image-gridview-height: $header-image-height / 2 !default;

$header-nav-link-color:        $link-color      !default;
$header-nav-toggle-color:      $accent-color    !default;
$header-nav-toggle-highlight-color: lighten($accent-color, 10%) !default;

$header-social-link-color:     #7a7a7a          !default;
$header-text-color:            #7a7a7a          !default;

header, #header {
  padding-top: 14px;
  z-index: 100;
  background-color: #FFFFFF;

  @media #{$tiny} {
    padding-top: 8px;
  }

  .header-title {
    position: relative;
    height: $header-image-height;
    color: $header-text-color;
    white-space: nowrap;
    @media #{$tiny} {
      height: 30px;
    }
    a {
      display: inline-block;
      height: 100%;
      line-height: 45px;
      @media #{$tiny} {
        line-height: 38px;
      }
    }
    .header-logo {
      position: absolute;
      height: 100%;
    }
    .header-text {
      margin-left: 60px;
      font-size: 32px;
      font-weight: 200;
      letter-spacing: -0.02em;
      color: $header-text-color;
      @media #{$tiny} {
        font-size: 20px;
        margin-left: 40px;
        line-height: 20px;
      }
    }
  }

  .header-links {
    display: none;
    overflow: hidden;
    text-align: right;
    font-size: 12px;
    line-height: 1.2em;
    height: auto;
    @media #{$tiny} {
      position: relative;
      top: 10px;
      right: 2px;
    }
    @media #{$small} {
      // Positioning for slide out
      position: relative;
      top: 10px;
      right: 0;
    }
    @media #{$medium} {
      display: block;
      position: absolute;
      right: 0;
      top: 0;
      margin-bottom: 0
    }
    .site-user-nav {
      li {
        @media #{$tiny} {
          display: block;
        }
        a {
          color: $header-nav-link-color;
        }
      }
    }
    .social-nav {
      margin-left: 1em;
      @media #{$medium} {
        position: relative;
        top: 2px;
      }
      .fa {
        font-size: 1.4em;
      }
      a {
        color: $header-social-link-color;
      }
      li:not(:first-of-type) {
        margin-left: 0.5em;
      }
    }
    // Generic list item
    ul {
      display: inline-block;
      @media #{$tiny} {
        display: block;
        margin-bottom: 10px;
      }
      li {
        display: inline-block;
        line-height: 2em;
        &:not(:first-of-type) {
          margin-left: 1em;
        }
      }
    }
  }

  .header-toggle {
    display: block;
    position: absolute;
    right: 0;
    top: 10px;
    font-size: 20px;
    cursor: pointer;
    user-select: none;
    color: $header-nav-toggle-color;
    &.toggle-highlight {
      color: $header-nav-toggle-highlight-color;
    }

    @media #{$tiny} {
      right: 3px;
      font-size: 16px;
    }
    @media #{$medium} {
      display: none;
    }
  }

  // Reduced height of header for grid view
  // and also for pages that ask for it (by setting the .layout-small-header class on the body)
  // Reduced height of header for grid view
  // and also for pages that ask for it (by setting the .layout-small-header class on the body)
  body.layout-small-header &,
  body[class*='action_datasets_'] & {
    padding-top: 0;

    .header-title {
      height: $header-image-gridview-height;
      a {
        line-height: inherit;
      }
    }

    .header-text {
      margin-left: 30px;
      font-size: 22px;
    }

    .header-toggle {
      top: 6px;
    }

    & > .container {
      padding: 12px 0;
    }
  }

}
